.qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  gap: 12px;
}

.qr-code-logo {
  width: 250px;
}

.qr-code-text {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
